body
{
    background-image: url(../2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.genel_main {
    padding: 40px;
    background: #111;
    margin-top: 10%;
    color: #fff;
    font-family: 'Poppins-Regular';
    border-radius: 5px;
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}
.formMain
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.formMain .form-control {
    background: #111;
    border: 1px solid rgb(46, 45, 45);
    height: 60px;
    width: 100%;
    color: #fff;
}
.formMain .form-control:focus {
    color: #fff;
    box-shadow: none;
}
.formMain .ekle_btn {
    background: #222;
    border: 1px solid rgb(2 2 2);
    height: 50px;
    color: #fff;
    width: 100%;
    border-radius: 10px;
}
.genel_main a
{
    font-family: 'Poppins-Medium';
    font-size: 16px;
}
.userbase {
    background: #222;
    padding-left: 100px;
    text-align: center;
    height: 100vh;
    width: 100%;
    border: 1px solid #111;
}
.userbase thead
{
    height: 50px;
}
.userbase tbody
{
    height: 100px;
}
.ekle {
    background: rgb(37, 100, 0);
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins-Medium';
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ekle img
{
    width: 30px;
}
.userbase img
{
    width: 30px;
}
.cizgi {
    height: 3px;
    background: rgba(180, 0, 0, 0.877);
    width: 40%;
    margin-bottom: 15%;
}
.genel_main .baslik {
    line-height: 1;
    font-weight: bold;
    font-size: 17px;
}
.userbase td {
    height: 10px;
    font-size: 12px;
}